<!DOCTYPE html> 
<html> 
<head> 
	<meta charset="utf-8"> 
	<%= stylesheet_link_tag 'styles' %>
	<title>Mapping News</title> 
</head> 
<body>
	<div id="middle">
		<div id="banner">
			<h1>Mapping News</h1> 
		</div>
		<div id="content">
			<%= yield %>
		</div>
	</div>
	<%= javascript_include_tag 'jquery-1.4.4.min' %>
	<%= javascript_include_tag 'application' %>
</body> 
</html>